.App {
  text-align: center;
}

.movies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
}

.movie-item {
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  box-shadow: 10px 10px 61px 3px rgba(28, 109, 175, 0.616);
  filter: grayscale(100%);
  transition: filter 1s
}
.movie-item:hover {
  filter: none;
}

.movie-details {
  padding: 15px 20px;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  height: 70%;
  width: 100%;
  background: linear-gradient(#ffffff00, #2154a5);
  color: white;
}

.movie-details p {
  margin: 2px;
}

a {
  text-decoration: none;
}

.movie-title {
  color: white;
  font-size: 1.7em;
  font-family: 'Work Sans', sans-serif;
}

.header {
  font-family: 'Raleway', sans-serif;
  background: rgba(255, 255, 255, 0.226);
  box-shadow: -4px 10px 60px -30px rgba(0,0,0,1);
  padding: 20px;
}


input {
  height: 40px;
  width: 270px;
  background: none;
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border: 1px solid  #328097;
  border-radius: 5px;
  padding: 5px;
  
}
input:focus {
  outline: none;
}

#box {
  color:  #328097
}

.movie {
  animation: fadein 1s;
  height: 100vh;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.movie-data {
  color: rgb(36, 36, 36);
  margin: 0 10%;
}

.movie-data h2 {
  color: white;
}

.movie img {
  margin: 5%;
  box-shadow: 10px 10px 61px 3px rgba(25, 61, 90, 0.616);
  border-radius: 5px;
}

.emph {
  margin-right: 0.6em;
  font-weight: bold;
}

.page-numbers {
  margin: 20px;
  font-size: 1em;
}

.page-number {
padding: 5px;
 margin: 10px;
 text-decoration: none;
 color:#328097;
}

.page-number:focus{
  color: white;
}

@media only screen and (max-width: 600px) {
  .header {
      box-shadow:none;
  }
}


