.App {
  text-align: center;
}

.movies {
  /* margin: 20px 200px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.movie {
  background-size:  cover;
  width: 20em;
  height: 30em;
}

.movie-details {
  padding: 1em;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(16, 120, 238, 0.623))
}

.movie-title {
  color: white;
  text-decoration: none;
  font-size: 1.7em;
  font-family: 'Work Sans', sans-serif;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}