body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;  
  background: linear-gradient(#328097, #e7cfe7) no-repeat
}

@media only screen and (max-width: 600px) {
  body {
      background:white;
  }
}